* {
    all: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    /* border: 1px solid blue; */
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
hr{
    margin: 0;
}
.icon {
    /* border: 1px solid red; */
    width: 10%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon>i {
    cursor: pointer;
}
.title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title>h1 {
    /* border: 1px solid red; */
    color: white;
    /* width: 20%;
    height: 2rem;
    text-align: center; */
    user-select: none;
}

.textBoxArea {
    /* border: 1px solid blue; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 54vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textBoxGourp {
    /* border: 1px solid red; */
    width: 25%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.textBox {
    border: 2px solid rgba(255, 255, 255, 0.308);
    width: 15%;
    height: 100%;
}

footer{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}
.keyboardArea{
    /* border: 1px solid blue; */
    width: 50%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kbsection{
    /* border: 1px solid red; */
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}
.kbitem{
    /* border: 1px solid blue; */
    border-radius: .4rem;
    width: 8%;
    height: 100%;
    color: white;
    background-color: gray;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}